@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    background-image: url('../image/backgound/bg2.png');
    background-color: #070101;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}


/* navbar */

.navbar {
    display: flex;
    align-items: center;
    padding: 0.4rem;
    background-color: rgba(1, 1, 1, 0.8);
    border-bottom: 1px solid #592222;
}

.navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    font-style: italic;
}

.navbar-logo span {
    color: red;
}

.navbar ul {
    color: #fff;
    font-size: 1.3rem;
    margin: 0 1rem;
    font-weight: 700;
}

.navbar .navbar-nav a:hover {
    color: red;
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid red;
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}


/* form */

.form {
    padding: 10rem 30%;
    width: 100%;
    text-align: center;
    top: 130px;
    right: 0.1rem;
}

.form-group {
    color: #fff;
    font-weight: 700;
    text-align: left;
    margin-top: auto;
    margin-bottom: 10px;
}

.form-control {
    width: 100%;
    padding: 10px;
    height: 40px;
    border-radius: 10px;
}

.form-control-file {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.btn {
    color: #000000;
    font-weight: 700;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.btn-primary {
    text-align: center;
    position: fixed;
    border-radius: 10px;
    background-color: #d70303;
}


/* Footer */

footer {
    bottom: 0;
    background-color: red;
    text-align: center;
    padding: 1rem 0 3rem;
    height: 100px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer .socials {
    padding: 1rem 0;
}

footer .socials a {
    color: #fff;
    margin: 1rem;
}

footer .credit {
    font-size: 0.8rem;
}

footer .credit a {
    color: rgb(0, 0, 0);
    font-weight: 700;
}


/* Media Queries */


/* Laptop */

@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
}


/* Tablet */

@media (max-width: 758px) {
    html {
        font-size: 62.5%;
    }
    #hamburger-menu {
        display: inline-block;
    }
}


/* Mobile Phone */

@media (max-width: 450px) {
    html {
        font-size: 55%;
    }
}